*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #1f1f1f;
}

.container{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 350px;
}

.container .search-box{
    height: 45px;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.container .search-box i{
    color: gray;
    font-size: 14px;
}

.container .search-box input{
    all:unset;
    height: 45px;
    width: 100%;
    /* border: 1px solid red; */
    padding-left: 10px;
    font-size: 14px;
}

.container .info-box{
    background-color: white;
    margin-top: 5px;
    border-radius: 7px;
    overflow: hidden;
    padding: 10px;
}

.container .info-box .color-box{
    height: 330px;
    width: 330px;
    border-radius: 100%;
    background: #f0932b;
    margin-top: -180px;
    margin-left: -25px;
}

.container .info-box img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
    height: 150px;
    width: 150px;
}

.container .info-box .color-box .pokemon-id{
    padding: 4px;
    width: 60px;
    position: absolute;
    top: 85px;
    right: 35px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
}

.container .info-box .pokemon-name{
    text-align: center;
    margin-top: 55px;
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize; 
}

/* ----------------- */

.container .info-box .pokemon-types{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 17px;
    height: 40px;
}

.container .info-box .pokemon-types .types-style{
    padding: 5px 13px 5px 13px;
    background: #f0932b;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    color: white;
    margin-left: 25px;
    position: relative;
    top: 10px;
    left: -15px;
    font-size: 14px;
}

/* ----------------- */

.container .info-box .pokemon-stats{
    height: 150px;
    margin-top: 50px;
}

.pokemon-stats .stat-elem{
    height: 65px;
    width: 70px;
    margin-left: 25px;
    margin-top: 0;
    float: left;
    position: relative;
    left: -15px;
    display: flex;
    justify-content: center;
}

.pokemon-stats .stat-elem .stat-name{
    margin-top: 35px;
    color: gray;
    font-size: 14px;
}

.pokemon-stats .stat-elem .stat-value{
    position: absolute;
    margin-top: 10px;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 600;
}

.stat-elem:nth-child(4) .stat-name,
.stat-elem:nth-child(5) .stat-name{
    font-size: 12px;
    text-align: center;
}